[submodule "external/BamTools"]
	path = external/BamTools
	url = https://github.com/pezmaster31/bamtools.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "external/docopt.cpp"]
	path = external/docopt.cpp
	url = https://github.com/docopt/docopt.cpp.git
